<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<h1>Your Cat's Information</h1>
	<h3><%= cat[0].name %></h3>
	<p><%= cat[0].species %></p>
	<p><%= cat[0].age %></p>
	<a href='/'>home</a>
</body>
</html>